//theme-component-name
.testcssclass{
    height: 100px;
    width: 200px;
}
.anothertestcssclass{
    display: none;
}
.anothertestcssclass1{
    display: none;
}
.anothertestcssclass2{
    display: none;
}
